[Unit]
Description=Caddy Metrics Exporter

[Service]
User=www-data
Group=www-data
WorkingDirectory=/usr/local/caddy-metrics
ExecStart=/usr/local/caddy-metrics/target/release/caddy-metrics -f /var/log/caddy/requests.log

[Install]
WantedBy=multi-user.target